<section class="footer">
    <div class="container">
       <div class="row">
        <a class="navbar-brand" href="#">
    
            C<span>reative</span>A<span>rt</span>
          </a> 
       </div>
       <div class="row">
           <div class="col-md-3">
               <!-- <h6>COMPANY</h6> -->
               <ul  class="company">
                   <li><a>About</a></li>
                   <li><a>Career</a></li>
                   <li><a>Product</a></li>
               </ul>
               <div class="row">
                   <div class="social-links">
                       <a><i class="fa fa-youtube" aria-hidden="true"></i></a>
                       <a><i class="fa fa-whatsapp" aria-hidden="true"></i></a>

                       <a><i class="fa fa-twitter" aria-hidden="true"></i></a>

                       <a><i class="fa fa-instagram" aria-hidden="true"></i></a>

                       <!-- <a><img src="/assets/images/about-icon-30.png"></a>
                       <a><img src="/assets/images/about-icon-10.png"></a>
                       <a><img src="/assets/images/about-icon-40.png"></a>
                       <a><img src="/assets/images/about-icon-20.png"></a>
 -->

                   </div>
               </div>
           </div>
           <div class="col-md-3">
            <h6>RESOURCES</h6>
            <ul>
                <li><a>Takese Example</a></li>
                <li><a>Manous Map</a></li>
                <li><a>Lakel Khal</a></li>
                <li><a>System Demo</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h6>SUPPORT</h6>
            <ul>
                <li><a>Kovinace</a></li>
                <li><a>Wismake Visitors</a></li>
                <li><a>Liber Sync</a></li>
                <li><a>Trace Dust</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h6>PRODUCT</h6>
            <ul>
                <li><a>Success Stories</a></li>
                <li><a>Compare Sleeknote</a></li>
                <li><a>Connect Visitors</a></li>
                <li><a>Take a Chance</a></li>
            </ul>
        </div>
       </div>
       <div class="row">
           <div class="footer-bottom">

           <div class="ul">
               <a>Terms & conditions </a>
                   <a class="border-only">Privacy policy  </a>
                   <a> Cookies policy </a>
           </div>
           <a class="copyright"> © 2020 creativeart.com . All rights reserved.</a>

        </div>
       </div>
    </div>
</section>
