<app-menu></app-menu>

<section class="about">
    <div class="container">

        <h2 class="heading">JUMNE ABOUT US </h2>
<div class="row">
<div class="col-md-6 col-12 img-about">
<img class="" src="/assets/images/5.png">
</div> 
<div class="col-md-6 col-12 about-content">
    <h3>Spanish Texossa Providers     </h3>

    <p class="">
        We offers a wide stands of the system and theoratcal meaning of the 
        terms we take a wide statements and facts about me and others   take care of me.
        Stands of the system and theoratcal meaning of the 
        terms we take a wide statements and facts.
    </p>
    <h6 class="sub-heading">We offers wide waves</h6>

    <p class="">
        May or may not contain any certain links below take care of me.
        The ideal deal is a wide american standared and Russian.
        Offers a wide stands of the system and use american standared and Russian.
        Offers a wide stands of the system and use.
    </p>
    <!-- <a class="btn btn-outline" href="">Explore more </a> -->
    <a class="btn btn-link"><span>Explore more </span></a>

</div>
</div>
    </div>
</section>

<section class="more-banner">
    <div class="container">
        <h2>Everything you need is here!</h2>
        
    <div class="row">
   <div class="col-md-12">
    <a class="btn btn-outline"><span>Take a Toor</span></a>
    </div>
<div class="color-overlay"></div>

</div>
    <div class="row ref-link">
   <div class="col-md-12">

    <a><img src="/assets/images/about-icon-1.png">
        </a>
    <a><img src="/assets/images/about-icon-2.png"></a>
    <a><img src="/assets/images/about-icon-3.png"></a>
    <a><img src="/assets/images/about-icon-4.png"></a>

</div>
</div>
</div>
</section>

<section class="gallery">
    <div class="container">
        <h2 class="heading">
            SINTA GALLERY 
        </h2>
        <!-- <div class="row"> -->
            <!-- <div class="col-md-3 col-sm-4 overlay">
                <img src="/assets/images/gallery1.jpg">
                <div class="overlayinn">
                    <h2 class="icon">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </h2>

                </div>
            </div>
            <div class="col-md-3 col-sm-4 overlay">
                <img src="/assets/images/gallery10.jpg">
                <div class="overlayinn">
                    <h2 class="icon">4
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </h2>

                </div>
            </div> -->

            <div class="col-md-4 col-sm-4 col-6 overlay">
                <img src="/assets/images/gallery2.jpg">
                <div class="overlayinn">
                    <h2 class="icon">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </h2>

                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-6 overlay">
                <img src="/assets/images/gallery1.jpg">
                <div class="overlayinn">
                    <h2 class="icon">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </h2>

                </div>
            </div>
        <!-- </div> -->
        <!-- <div class="row"> -->
            <div class="col-md-4  col-sm-4 col-6 overlay">
                <img src="/assets/images/gallery5.jpg">
                <div class="overlayinn">
                    <h2 class="icon">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </h2>

                </div>
            </div>
            <div class="col-md-4  col-sm-4 col-6 overlay">
                <img src="/assets/images/gallery10.jpg">
                <div class="overlayinn">
                    <h2 class="icon">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </h2>

                </div>
            </div>
            <div class="col-md-4  col-sm-4  col-6 overlay">
                <img src="/assets/images/gallery4.jpg">
                <div class="overlayinn">
                    <h2 class="icon">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </h2>

                </div>
            </div>
            <div class="col-md-4  col-sm-4 col-6 overlay">
                <img src="/assets/images/gallery9.jpg">
                <div class="overlayinn">
                    <h2 class="icon">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </h2>

                </div>
            </div>
        <!-- </div> -->
    </div>
</section>




<section class="services">
    <div class="container">
        <h2 class="heading">WHAT WE DO </h2>

        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class=" service-col">
                    <img src="/assets/images/icon1.png">

    
                    <h3>masking html</h3>
                    <p>The aproved concept of the system will appear as a wide
                        range of nature. The main thing is animals are lives in 
                       the forest and we also manipulate it. You will know this.
                   </p>
       
                    <div class="action">
                    <a class="btn btn-link"><span>Explore more </span></a>
                    </div>      
                </div>
            </ng-template>  
            <ng-template carouselSlide> <div class=" service-col">
                <img src="/assets/images/icon2.png">

                <h3>learn CSS</h3>
                <p>The aproved concept of the system will appear as a wide
                    range of nature. The main thing is animals are lives in 
                   the forest and we also manipulate it. You will know this.
               </p>
   
                <div class="action">
                <a class="btn btn-link"><span>Explore more </span></a>
                </div>      
            </div></ng-template>  
            <ng-template carouselSlide> <div class=" service-col">
                <img src="/assets/images/icon3.png">


                <h3>expert sass</h3>
                <p>The aproved concept of the system will appear as a wide
                    range of nature. The main thing is animals are lives in 
                   the forest and we also manipulate it. You will know this.
               </p>
   
                <div class="action">
                <a class="btn btn-link"><span>Explore more </span></a>
                </div>      
            </div></ng-template>  
          
            <ng-template carouselSlide> <div class=" service-col">
                <img src="/assets/images/icon1.png">

                <h3>masking html</h3>
                <p>The aproved concept of the system will appear as a wide
                    range of nature. The main thing is animals are lives in 
                   the forest and we also manipulate it. You will know this.
               </p>
   
                <div class="action">
                <a class="btn btn-link"><span>Explore more </span></a>
                </div>      
            </div></ng-template>  
            <ng-template carouselSlide> <div class=" service-col">
                <img src="/assets/images/icon2.png">

                <h3>learn CSS</h3>

                <p>The aproved concept of the system will appear as a wide
                    range of nature. The main thing is animals are lives in 
                   the forest and we also manipulate it. You will know this.
               </p>
   
                <div class="action">
                <a class="btn btn-link"><span>Explore more </span></a>
                </div>      
            </div></ng-template>  

          </owl-carousel-o>
</div>
</section>

<section class="contact">
    <div class="container">
        <h2 class="heading">WAKY REACH US </h2>
    
    <div class="row message">
        <!-- <div class="col-md-3"><img src="/assets/images/cover1.jpg"></div> -->
        <div class="col-md-5 col-12 col-sm-6 col-lg-4 offset-md-1  offset-lg-2 reach">
            <h4>Contact Us </h4>
           
             
            <a class="link mobile-number" href="tel:+919747233056">
                <i class="fa fa-phone" aria-hidden="true"></i>
               
                    +91 9747233056</a>
            
                    <a class="link  email" href="mailto:praveenpkkp1@gmail.com">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                        
                        praveen@gmail.com</a>
            <a class="link website" href="http://www.google.com">
                <i class="fa fa-globe" aria-hidden="true"></i>
                
                www.creativeart.com</a>
            <a class="link address" href="https://www.google.com/maps/place/St.+Francis+CSI+Church/@9.9826809,76.1608452,11z/data=!4m13!1m7!3m6!1s0x3b0812ffd49cf55b:0x64bd90fbed387c99!2sKerala!3b1!8m2!3d10.8505159!4d76.2710833!3m4!1s0x3b086d315f909885:0x8b5c70262cb808a1!8m2!3d9.9660609!4d76.2408686">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
               
                Mukkom, Calicut</a>
        </div>
        <div class="col-md-6 col-12 col-sm-6 col-lg-6">
            <div class="row">
                <div class="input-group">
                <input type="text" class="form-control" placeholder="First Name">
                <input type="text" class="form-control" placeholder="Last Name">
</div>
            </div>
            <div class="row">
                <input class="form-control" type="email" placeholder="Email">
            </div>
            
            <div class="row">
                <textarea rows="6" class="form-control" type="email" placeholder="Your Message"></textarea> 
            </div>
            <div class="row">

            <a class="btn btn-link" href=""><span>SEND </span></a>
        </div>
    </div>

    </div>
    </div>
</section>
<app-footer>

</app-footer>